<div class="navbar-fixed">
	<nav class="nav-extended grey darken-3">
		<div class="nav-wrapper">
	  		<a href="#" class="brand-logo">
	  			<img id="logoCabecera" src="img/logo.png" />
	  			Sistema de Becas NU
	  		</a>
	  		<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="" ng-click="$ctrl.menuChangue()">{{$ctrl.solicitudToMenu}}</a></li>
				<li><a href="" ng-click="$ctrl.CancelarSolicitud()">Cancelar solicitud actual</a></li>
				<li><a href="" ng-click="$ctrl.closeApp()" >Cerrar sesión</a></li>
	  		</ul>
		</div>
		<div class="nav-content">
	  		<ul class="tabs tabs-transparent">
	    		<li class="tab"><a ng-class="$ctrl.alumno" href="#!/beca/gastos_alumno" >Gastos del alumno</a></li>
				<li class="tab"><a ng-class="$ctrl.familia" href="#!/beca/gastos_familiares" >Gastos familiares</a></li>
				<li class="tab"><a ng-class="$ctrl.hogar" href="#!/beca/informacion_hogar" >Información del hogar</a></li>
				<li class="tab"><a ng-class="$ctrl.depende" href="#!/beca/dependencia_economica" >Persona de quien depende económicamente</a></li>
				<li class="tab"><a ng-class="$ctrl.ingreso" href="#!/beca/ingreso_mensual" >Ingreso mensual</a></li>
				<li class="tab" ng-if="$ctrl.carta" ><a ng-class="$ctrl.carta" href="#!/beca/cartaProtesta" >Carta Protesta</a></li>
	  		</ul>
		</div>
	</nav>
</div>
<div class="row">
	
</div>
<div  class="row">
	
</div>
<div class="row">
	
</div>