<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  	<li><a href="" ng-click="$ctrl.menuChangue()">{{$ctrl.solicitudToMenu}}</a></li>
	<li class="divider"></li>
	<li><a href="" ng-click="$ctrl.CancelarSolicitud()">Cancelar solicitud actual</a></li>
	<li class="divider"></li>
	<li><a href="" ng-click="$ctrl.closeApp()" >Cerrar sesión</a></li>
</ul>


<div class="navbar-fixed">
	<nav class="nav-extended  blue darken-4">
		<div class="nav-wrapper">
	  		<a class="brand-logo left" style="margin-left: 20px;">
	  			<img id="logoCabecera" src="img/logo.png" />
	  			<span class="">Sistema de Becas NU</span>
	  		</a>
	  		<ul id="nav-mobile" class="right hide-on-med-and-down">
	  			<li><b>{{$ctrl.nombre}}</b></li>
				<li><a class="dropdown-button" href="dropdown1" data-activates="dropdown1">Perfil<i class="material-icons right">arrow_drop_down</i></a></li>
	  		</ul>
		</div>
		
		<div class="nav-content">
			<div class="col xl12 l12 m12">
				<ul id="menuSolicitud">
				    <a  href="#!/beca/gastos_alumno" ><li ng-class="$ctrl.alumno"> Gastos del alumno</li></a>
				    <a  href="#!/beca/gastos_familiares" ><li ng-class="$ctrl.familia">Gastos familiares</li></a>
				    <a  href="#!/beca/informacion_hogar" ><li ng-class="$ctrl.hogar">  Información del hogar</li></a>
				    <a  href="#!/beca/dependencia_economica" ><li ng-class="$ctrl.depende">Dependencia económica</li></a>
				    <a  href="#!/beca/ingreso_mensual" ><li ng-class="$ctrl.ingreso">Ingreso mensual</li></a>
				    <a  href="#!/beca/cartaProtesta" ><li ng-class="$ctrl.cartap">Carta Protesta</li></a>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div class="row" style="clear: both;">
	
</div>
<div class="row">
	
</div>
<div class="row">
	
</div>
<script type="text/javascript" src="js/query.js"></script>