/*Estilo para el formulario principal de login*/

/*html, body, #contenedorPrincipal{
	height: 100%;
}*/
img#logoCabecera{
	float:left;
	width: 50px;
	height: 60px;
}
img#logoLogin{
	margin-top:20px;
	width: 80px;
	height: 90px;
}
#logoSB{
	margin-left: 50px;
}
.login-form-text{
	text-transform:uppercase;
	letter-spacing:2px;
	/*font-size:0.8rem*/
}

#loginContainer  {
	height: 100%;
}
	/*
  display: flex;
  /*position: absolute;*/
  /*position: relative;*/
  /*top: 0;
  left: 0;*/
  /*height: 100%;*/
/*  width: 100%;*/
/*}*/
/*
#loginContainer > .row {
  margin: 0 auto;
}*/


/**/

/*Estilo para el menu superior*/
#menuSuperior ul li{
	list-style:none;
	float: left;
	padding:1%;
}
ul#menuSolicitud li{
	padding: 15px;
}
ul#menuSolicitud a:first-of-type{
	margin-left:50px;
}

/*Estilo para el menu*/
#menu ul li{
	list-style:none;
}
/*Boton continuar flotarlo a la derecha*/
#btnContinuar{
	float: right;
}

ul.tabs li.tab a{
	color: #37474f;
}

ul.tabs li.tab a.active{
	color: #37474f;
}

ul.tabs li.tab a:hover{
	color: #e0e0e0;
}
	
ul.tabs>li.indicator{
	background-color: #37474f;
}

/*.material-icons{
	color: red;
}*/

.material-icons.active{
  color: #0d47a1 !important; /*Important ignorará los estilos css siguientes de este elemento(Bloque el estilo)*/
}
i.material-icons.active + input{
	border-bottom: 1px solid blue !important;	
}
label.active{
  color: #0d47a1 !important;
}

label{
	color:black;
	font-size: 1em;
}


blockquote{
	border-left-color: #0d47a1 !important;
}

div.stepBeca{ /*Div que indica el número de paso actual*/
	border-radius: 20px;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #0d47a1;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #0d47a1;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #0d47a1;
  border-bottom: 2px solid #0d47a1;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
          box-shadow: 0 1px 0 0 #0d47a1;
}

.upper{
	text-transform: uppercase;
}
