/*Estilo para el formulario principal de login*/
img#logoCabecera{
	float:left;
	width: 80px;
	height: 90px;
}
.login-form-text{
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:0.8rem
}
/**/

/*Estilo para el menu superior*/
#menuSuperior ul li{
	list-style:none;
	float: left;
	padding:1%;
}

/*Estilo para el menu*/
#menu ul li{
	list-style:none;
}
/*Boton continuar flotarlo a la derecha*/
#btnContinuar{
	float: right;
}


