/*Estilo para el formulario principal de login*/
#loginBecasForm{
	text-align: center;
}
img#logoCabecera{
	float:left;
	width: 50px;
	height: 60px;
}
/**/

/*Estilo para el menu superior*/
#menuSuperior ul li{
	list-style:none;
	float: left;
	padding:1%;
}

/*Estilo para el menu*/
#menu ul li{
	list-style:none;
}

