<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2> Sistema de Becas NU</h2>
			<hr />
		</div>
	</div>
	<div class="row">
		<div id="loginBecasForm" class="col-md-6 col-md-offset-3" >
			<form ng-submit="$ctrl.validateData()"> <!--Cuando se trabaja con componentes $ctrl hace referencia al controlador(Así no se manipula directamente el $scope) == -->
				<p ng-show="!$ctrl.dataValid" style="color:red;">{{$ctrl.mensajeError}}</p>
				<p><b>Matrícula</b></p>
				<input type="text" name="matricula" ng-model="$ctrl.matricula" 
				pattern="(^011[1-9]0[1-9]00[0-9][0-9])|admin[A-Za-z]{5,15}" required/><br /><br /><!-- las expresiones regulares NO deben llevar espacios, de lo contrario funcionará-->
				<p><b>Contraseña</b></p>
				<input type="password" name="password" ng-model="$ctrl.password" required pattern="[A-Za-z0-9]{1,}" /><br /><br />
				<input type="submit" value="Ingresar" /><br /><br />
				<a href="#!/registro" >Registrarse</a>
			</form>
		</div>
	</div>	
</div>