<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2> Sistema de Becas NU</h2>
			<hr />
		</div>
	</div>

	<div class="row">
		<div id="menu" class="col-md-3 col-md-offset-9">			
			<ul>
				<li><a href="#!/login" >Cerrar sesión</a></li>
				<li><a href="" ng-click="$ctrl.menuChangue()">{{$ctrl.solicitudToMenu}}</a></li>
				<li><a href="#!/login" >Cancelar solicitud actual</a></li>
			</ul>
		</div>

		<div id="menuSuperior" class="col-md-12">
			<ul>
				<li><a href="#!/dependencia_economica" >Persona de quien depende económicamente</a></li>
				<li><a href="#!/ingreso_mensual" >Ingreso mensual</a></li>
				<li><a href="#!/gastos_alumno" >Gastos del alumno</a></li>
				<li><b><a href="#!/informacion_hogar" >Información del hogar</a></b></li>
				<li><a href="#!/gastos_familiares" >Gastos familiares</a></li>
				<li><a href="#!/cartaProtesta" >Carta Protesta</a></li>
			</ul>
			<br><br>
		</div>
	</div>
	<div class="row">
		<h3>Información del hogar</h3>
		<div class="col-md-8 col-md-offset-2" >
			<form ng-submit="$ctrl.saveData()"> 
			<!--Cuando se trabaja con componentes $ctrl hace referencia al controlador(Así no se manipula directamente el $scope) == -->
				<p>Tipo de casa:</p>
				<select ng-model="$ctrl.tipoCasa" required>
					<option value="" disabled>-Seleccion una opcion-</option>
					<option value="propia">Propia</option>
					<option value="alquilada">Alquilada</option>
					<option value="prestada">Prestada</option>
				</select>
				<p>Material de las paredes:</p>
				<select ng-model="$ctrl.materialParedes" required>
					<option value="" disabled>-Seleccion una opcion-</option>
					<option value="adobe" selected>Adobe</option>
					<option value="lamina">Lámina</option>
					<option value="madera">Madera</option>
					<option value="Concreto">Concreto</option>
				</select>
				<div>
					<p>Material del piso</p>
					<input type="text" name="piso" ng-model="$ctrl.materialPiso" required>
					<span class="error" ng-init="$ctrl.materialPisoError=false" ng-show="$ctrl.materialPisoError">Error! El material del piso debe ser solo texto.</span>
				</div>
				<div>
					<p>Material del techo</p>
					<input type="text" name="techo" ng-model="$ctrl.materialTecho" required>
					<span class="error" ng-init="$ctrl.materialTechoError=false" ng-show="$ctrl.materialTechoError">Error! El material del piso debe ser solo texto.</span>
				</div>
				<p>Número de personas que habitan la vivienda:</p>
				<input type="number" name="habitantes" ng-model="$ctrl.habitantes" min="1">
				<hr>
				<p>Espacio con los que cuenta la vivienda(Indique con número)</p>
				<div>
					<p>Cuartos</p>
					<input type="number" name="cuartos" ng-model="$ctrl.cuartos" min="1" required>
					<p>Baños</p>
					<input type="number" name="banios" ng-model="$ctrl.banios" min="1" required>
					<p>Focos</p>
					<input type="number" name="focos" ng-model="$ctrl.focos" min="1" required>
				</div>
				<br><br>
				<input type="button" class="btn" value="Regresar" ng-click="$ctrl.regresar()"/>
				<input type="submit" class="btn" value="Continuar" />
				<br /><br />
			</form>
		</div>
	</div>	
</div>