<div class="container">
	<barra-principal></barra-principal>
	<!--<div class="row">
		<div class="col-md-12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2> Sistema de Becas NU</h2>
			<hr />
		</div>
	</div>

	<div class="row">
		<div id="menu" class="col-md-3 col-md-offset-9">			
			<ul>
				<li><a href="#!/login" >Cerrar sesión</a></li>
				<li><a href="" ng-click="$ctrl.menuChangue()">{{$ctrl.solicitudToMenu}}</a></li>
				<li><a href="#!/login" >Cancelar solicitud actual</a></li>
			</ul>
		</div>

		<div id="menuSuperior" class="col-md-12">
			<ul>
				<li><a href="#!/dependencia_economica" >Persona de quien depende económicamente</a></li>
				<li><a href="#!/ingreso_mensual" >Ingreso mensual</a></li>
				<li><a href="#!/gastos_alumno" >Gastos del alumno</a></li>
				<li><b><a href="#!/informacion_hogar" >Información del hogar</a></b></li>
				<li><a href="#!/gastos_familiares" >Gastos familiares</a></li>
				<li><a href="#!/cartaProtesta" >Carta Protesta</a></li>
			</ul>
			<br><br>
		</div>
	</div>-->
	<div class="row">
		<!-- col xl6 l6 m6 s12 offset-xl3 offset-l3 offset-m3 card center-align -->
		<div class="col card xl10 l10 m10 s12 offset-xl1 offset-l1 offset-m1" >
			<form ng-submit="$ctrl.saveData()" > 
				<div class="col xl5 l5 m5 s12 offset-xl3 offset-l2 offset-m2">
					<label>Tipo de casa:</label>
					<select class="browser-default" ng-model="$ctrl.tipoCasa" required="">
						<option value="" disabled>-Seleccion una opcion-</option>
						<option value="propia">Propia</option>
						<option value="alquilada">Alquilada</option>
						<option value="prestada">Prestada</option>
					</select>
				</div>
				<div class=" col xl5 l5 m5 s12 offset-xl3 offset-l2 offset-m2">
					<label>Material de las paredes:</label>
					<select class="browser-default" ng-model="$ctrl.materialParedes" required="" ng-change="$ctrl.cambioParedes()">
						<option value="" disabled>-Seleccion una opcion-</option>
						<option value="adobe">Adobe</option>
						<option value="lamina">Lámina</option>
						<option value="madera">Madera</option>
						<option value="concreto">Concreto</option>
					</select>
				</div>
				<div class=" col xl5 l5 m5 s12 offset-xl3 offset-l2 offset-m2">
					<label>Material del piso:</label>
					<select class="browser-default" ng-model="$ctrl.materialPiso" required>
						<option value="" disabled>-Seleccione una opcion-</option>
						<option value="tierra">Tierra</option>
						<option value="contreto" >Concreto</option>
					</select>
				</div>
				<div class=" col xl5 l5 m5 s12 offset-xl3 offset-l2 offset-m2">
					<label>Material del techo:</label>
					<select class="browser-default" ng-model="$ctrl.materialTecho" required>
						<option value="" disabled>-Seleccione una opcion-</option>
						<option value="lamina">Lamina</option>
						<option value="teja" ng-show="$ctrl.errorTeja">Teja</option>
						<option value="concreto" ng-show="$ctrl.errorConcreto">Concreto</option>
					</select>
					<div class="col xl12 l12 m12">
						<p>Número de personas que habitan la vivienda: *</p>
						<input type="number" name="habitantes" ng-model="$ctrl.habitantes" min="1" max="15" required>
					</div>
				</div>
				<div class="row">
					<div class="col xl10 l10 m10 offset-xl1 offset-l1 offset-m1">
						<p>Espacio con los que cuenta la vivienda(Indique con número)</p>
						<div class="row">
							<div class="col xl4 l4 m6 s12">
								<p class="col xl6 l6 m6">Cuartos: *</p>
								<input type="number" name="cuartos" ng-model="$ctrl.cuartos" min="1" max="10" required class="col xl6 l6 m6">
							</div>
							<div class="col xl4 l4 m6 s12">
								<p class="col xl6 l6 m6">Baños: *</p>
								<input type="number" name="banios" ng-model="$ctrl.banios" min="1" max="5" required class="col xl6 l6 m6">
							</div>
							<div class="col xl4 l4 m6 s12">
								<p class="col xl6 l6 m6">Focos: *</p>
								<input type="number" name="focos" ng-model="$ctrl.focos" min="1" max="15" required class="col xl6 l6 m6">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col xl6 l6 m6 s6">				
						<input type="button" class="btn btn-default right" value="Regresar" ng-click="$ctrl.regresar()"/>
					</div>
					<div class="col xl6 l6 m6 s6">
						<input type="submit" class="btn btn-default left" value="Continuar" />
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>