<barra-principal></barra-principal>
<div class="container">
		<div class="row">
			<div class="col xl12">
				<h4>Personas de quien depende económicamente</h4>	
			</div>
		</div>
		<div class="row col xl5 offset-xl3 " >
			<!-- <form action="l.php" method="post"> -->
			<form class="col xl6 offset-xl1" ng-submit="$ctrl.saveSection()">
				Grado de escolaridad:<br>
				<select class="browser-default" name="escolaridad" ng-model="$ctrl.escolaridad" required>
					<option value=""> --- Selecciona una opción --- </option>
					<!--<option value="preescolar" selected>Preescolar</option> --><!--El 'selected' también deja de funcionar cuando se agrega un ng-model al select -->
					<option value="ninguna" >Ninguna</option>
					<option value="preescolar" >Preescolar</option>
					<option value="primaria">Primaria</option>
					<option value="secundaria">Secundaria</option>
					<option value="bachillerato">Bachillerato</option>
					<option value="universidad">Universidad</option>
					<option value="maestria">Maestría</option>
					<option value="doctorado">Doctorado</option>
					<option value="post-doctorado">Post-Doctorado</option>
				</select>
				<br><br>
				Tipo de trabajo:<br>
				<select class="browser-default" name="tipo_trabajo" ng-model="$ctrl.tipoTrabajo" required>
					<option value=""> --- Selecciona una opción --- </option>
					<option value="temporal">Temporal</option>
					<option value="permanente">Permanente</option>
				</select><br><br>
				<input type="button" class="btn btn-default blue darken-4" value="Regresar" ng-click="$ctrl.regresar()"/>
				<button id="btnContinuar" type="submit" class="btn btn-default blue darken-4">Continuar</button>

			</form>
		</div>
	</div>	
</div>
