<barra-principal></barra-principal>
<div class="container">
	<!--<div class="row">
		<div class="col-md-12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2>Sistema de Becas NU</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<li><a href="#!/login" >Cerrar sesión</a></li>
				<li><a href="" ng-click="$ctrl.menuChangue()">{{$ctrl.solicitudToMenu}}</a></li>
				<li><a href="#!/login" >Cancelar solicitud actual</a></li>
		</div>
	</div>
	<hr>
	<div class="row">
		<div id="menuSuperior" class="col-md-12">
			<ul>
				<li><b><a href="#!/dependencia_economica" >Persona de quien depende económicamente</a></b></li>
				<li><a href="#!/ingreso_mensual" >Ingreso mensual</a></li>
				<li><a href="#!/gastos_alumno" >Gastos del alumno</a></li>
				<li><a href="#!/informacion_hogar" >Información del hogar</a></li>
				<li><a href="#!/gastos_familiares" >Gastos familiares</a></li>
				<li><a href="#!/cartaProtesta" >Carta Protesta</a></li>
			</ul>
			<br><br>
		</div>
	</div>-->
	<div class="row">
		<h4>Gastos Familiares</h4>
		<p><b>Escribir los gastos familiares mensuales (sin incluir los del solicitante):</b></p>
	</div>
	<div class="row">

		<!-- Preguntar sobre este dato ===========================================
		<div class="col xl3">
			<p>Ingreso Mensual Total: <strong>{{dato.ingreso}}</strong></p>
		</div> -->
		<div class="col xl12">
			<form ng-submit="$ctrl.validat()">
				<p>Pago mensual de servicios</p>
				<p ng-show="!$ctrl.msgerror" style="color:red;">Error con algunos de los campos</p>
			<div class="col xl5">	
				<div class="row">
					<div class="col xl6">
						<label>Agua</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="agua" required ng-model="$ctrl.agua"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Luz *</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=50 type="number" name="luz" required ng-model="$ctrl.luz"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Télefono</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="telefono" required ng-model="$ctrl.telefono"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Gas</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="gas" required ng-model="$ctrl.gas"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Educación</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="educacion" required ng-model="$ctrl.educacion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Transporte</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="transporte" required ng-model="$ctrl.transporte"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Renta de Domicilio</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="renta_domicilio" required ng-model="$ctrl.rentadomicilio"/><br />
					</div>
				</div>
			</div>
			<div class="col xl5 offset-xl1">
				<div class="row">
					<div class="col xl6">
						<label>Television por Cable</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="television_cable" required ng-model="$ctrl.television"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Internet</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="internet" required ng-model="$ctrl.internet"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Alimentación *</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=1000 type="number" name="alimentacion" required ng-model="$ctrl.alimentacion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Vestido</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="vestido" required ng-model="$ctrl.vestido"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Médico</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="medico" required ng-model="$ctrl.medico"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Diversión</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="diversion" required ng-model="$ctrl.diversion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Otro</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="otro" required ng-model="$ctrl.otro"/><br />
					</div>
				</div>
			</div>
			
				<div class="row">
					<div class="col xl6">
						<input type="button" class="btn btn-default" ng-click="$ctrl.volver()" value="Volver"/>
					</div>
					<div class="col xl6">
						<input type="submit" class="btn btn-default" value="Continuar"/>
						<!-- <input type="submit" class="btn" value="{{$ctrl.terminar}}"/>-->
					</div>
				</div>
			

			</form>
		</div>
	</div>
</div>
