<barra-principal></barra-principal>
<div class="container">
	
	<div class="row">

		<!-- Preguntar sobre este dato ===========================================
		<div class="col xl3">
			<p>Ingreso Mensual Total: <strong>{{dato.ingreso}}</strong></p>
		</div> -->
		<div class="col xl12 l12 m12 s12 card">
			<div class="row">
				<div class="col xl9">
					<blockquote class="">
						<p class="thin">
							<h5 class="orange-text">
								Gastos familiares
							</h5>
							<b>Escribir los gastos familiares mensuales (sin incluir los del solicitante):</b>
						</p>
					</blockquote>
				</div>
				<div class="col xl3">
					<div class="blue darken-1 white-text stepBeca">
						<p class="center-align"><b>Paso 2 de 6</b></p>
					</div>
				</div>
			</div>
			<form ng-submit="$ctrl.validat()">
				<p ng-show="!$ctrl.msgerror" style="color:red;">Error con algunos de los campos</p>
			<div class="col xl5">	
				<div class="row">
					<div class="col xl6">
						<label>Agua</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="agua" required ng-model="$ctrl.agua"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Luz *</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=50 type="number" name="luz" required ng-model="$ctrl.luz"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Télefono</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="telefono" required ng-model="$ctrl.telefono"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Gas</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="gas" required ng-model="$ctrl.gas"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Educación</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="educacion" required ng-model="$ctrl.educacion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Transporte</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="transporte" required ng-model="$ctrl.transporte"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Renta de Domicilio</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="renta_domicilio" required ng-model="$ctrl.rentadomicilio"/><br />
					</div>
				</div>
			</div>
			<div class="col xl5 offset-xl1">
				<div class="row">
					<div class="col xl6">
						<label>Television por Cable</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="television_cable" required ng-model="$ctrl.television"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Internet</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="internet" required ng-model="$ctrl.internet"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Alimentación *</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=1000 type="number" name="alimentacion" required ng-model="$ctrl.alimentacion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Vestido</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="vestido" required ng-model="$ctrl.vestido"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Médico</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="medico" required ng-model="$ctrl.medico"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Diversión</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="diversion" required ng-model="$ctrl.diversion"/><br />
					</div>
				</div>
				<div class="row">
					<div class="col xl6">
						<label>Otro</label>
					</div>
					<div class="col xl6">
						<input max=25000 min=0 type="number" name="otro" required ng-model="$ctrl.otro"/><br />
					</div>
				</div>
			</div>
			
				<div class="row">
					<div class="col xl6 l6 m6 s6">				
						<input type="button" class="btn btn-default right orange" value="Regresar" ng-click="$ctrl.volver()"/>
					</div>
					<div class="col xl6 l6 m6 s6">
						<input type="submit" class="btn btn-default left orange" value="Continuar" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<footer-becas></footer-becas>