<barra-principal></barra-principal>
<div class="container">
	<!--<div class="row">
		<div class="col-md-12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2> Sistema de Becas NU</h2>
			<hr />
		</div>
	</div>
	<div class="row">
		<div id="menu" class="col-md-3 col-md-offset-9">			
			<ul>
				<li><a href="" ng-click="cerrarSesion()" >Cerrar sesión</a></li>
				<li><a href="#!/solicitudes" >Regresar a solicitudes</a></li>
				<li><a href="#!/login" >Cancelar solicitud actual</a></li>
			</ul>
		</div>

		<div id="menuSuperior" class="col-md-12">
			<ul>
				<li><b><a href="#!/dependencia_economica" >Persona de quien depende económicamente</a></b></li>
				<li><a href="#!/ingreso_mensual" >Ingreso mensual</a></li>
				<li><a href="#!/gastos_alumno" >Gastos del alumno</a></li>
				<li><a href="#!/informacion_hogar" >Información del hogar</a></li>
				<li><a href="#!/gastos_familiares" >Gastos familiares</a></li>
				<li><a href="#!/cartaProtesta" >Carta Protesta</a></li>
			</ul>
			<br><br>
			<h2>Carta Protesta</h2>
		</div>
		-->
		<div id="modBeca6" class="row" >
			<div class="col xl6 l6 m6 s12 offset-xl3 offset-l3 offset-m3 card center-align">
				<input id="aceptare" ng-model="checked" type="checkbox" value="">
				<label for="aceptare">Declaro que los datos aquí asentados son verídicos, entrando en conocimiento de que 						   la falsedad de los mismos es motivo de pérdida temporal o definitiva del derecho a la beca.
				</label>
			</div>
			<div class="col xl12 l12 m12 s12 offset-xl4 offset-l4 offset-m4">
				<br>
				<button class="btn btn-default" ng-click="regresar()">Regresar</button>
				<button class="btn btn-default" ng-click="aceptar()">Enviar</button>
				<!-- <button ng-disabled="!checked" ng-click="aceptar()">Enviar</button> -->
			</div>
		</div>
	</div>	
	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorTerminos" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Aún no has aceptado los términos y condiciones.</p>
    </div>
    <div class="modal-footer">
      <a href="#!/cartaProtesta" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorPersonas" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Agregar Personas de quien depende económicamente</p>
    </div>
    <div class="modal-footer">
      <a href="#!/dependencia_economica" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
   	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorIngreso" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Agregar el Ingreso Mensual</p>
    </div>
    <div class="modal-footer">
      <a href="#!/ingreso_mensual" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
 	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorAlumno" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Datos Del Alumno</p>
    </div>
    <div class="modal-footer">
      <a href="#!/gastos_alumno" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div> 
  	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorHogar" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Informacion Del Hogar</p>
    </div>
    <div class="modal-footer">
      <a href="#!/informacion_hogar" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorFamiliares" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Gastos Familiares</p>
    </div>
    <div class="modal-footer">
      <a href="#!/gastos_familiares" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

  <script type="text/javascript">
	$(document).ready(function(){
	    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
	    $('.modal').modal();
	  }); 
	</script>
</div>
