<barra-principal></barra-principal>
<div class="container">
		<div id="modBeca6" class="row" >
			<div class="col xl12 l12 m12 s12 card ">
                <div class="row">
                    <div class="col xl9">
                        <blockquote class="">
                            <p class="thin">
                                <h5 class="orange-text">
                                    Carta Protesta
                                </h5>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col xl3">
                        <div class="blue darken-1 white-text stepBeca">
                            <p class="center-align"><b>Paso 6 de 6</b></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col xl8 offset-xl2">
                        <form>
                            <input id="aceptare" ng-model="checked" type="checkbox" value="">
                            <label for="aceptare">Declaro que los datos aquí asentados son verídicos, entrando en conocimiento de que                          la falsedad de los mismos es motivo de pérdida temporal o definitiva del derecho a la beca.
                            </label>    
                        </form>    
                    </div>
                </div>
                <div class="row">
                    <div class="col xl6 l6 m6 s6">              
                        <button class="btn btn-default orange right" ng-click="regresar()">Regresar</button>
                    </div>
                    <div class="col xl6 l6 m6 s6">
                        <button class="btn btn-default orange" ng-click="aceptar()">Enviar</button>
                    </div>
                </div>
			</div>
		</div>
	</div>	
	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorTerminos" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Aún no has aceptado los términos y condiciones.</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/cartaProtesta" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorPersonas" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Agregar Personas de quien depende económicamente</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/dependencia_economica" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
   	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorIngreso" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Agregar el Ingreso Mensual</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/ingreso_mensual" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
 	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorAlumno" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Datos Del Alumno</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/gastos_alumno" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div> 
  	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorHogar" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Informacion Del Hogar</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/informacion_hogar" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
	<!-- Modal error apoyo de terceros -->
  <div id="modalErrorFamiliares" class="modal" >
    <div class="modal-content">
      <h4 class="red-text">Error ! <i class="material-icons small black-text">mood_bad</i> </h4>
      <p class="center-align">Falta Ingresar Gastos Familiares</p>
    </div>
    <div class="modal-footer">
      <a href="#!/beca/gastos_familiares" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
  
  <!-- Modal Solicitud enviada -->
  <div id="modalSolicitudEnviada" class="modal" >
    <div class="modal-content">
      <div class="row">
        <div class="col xl8  offset-xl2">
          <b>! Tu solicitud de beca a sido enviada !</b>
        </div>
        <br />
        <div class="col xl8  offset-xl2">
          <span>Tus datos seran revisados y te será notificado <br />el porcentaje de beca <b>final</b> que has obtenido </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!/solicitudes" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

  <script type="text/javascript">
	$(document).ready(function(){
	    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
	    $('.modal').modal();
      $('.modal').openModal({
        complete: function(){
          alert("se");
        }
      );
	}); 
	</script>
</div>
<footer-becas></footer-becas>