<div class="container">
	<div class="row">
		<div class="col xl12">
			<img id="logoCabecera" src="img/logo.png" />
			<h2> Sistema de Becas NU</h2>
			<hr />
		</div>
	</div>

	<br />
	<br />
	<br />
	<br />

	<div class="row">
		<div class="col xl8  offset-xl2">
			<b>! Tu solicitud de beca a sido enviada !</b>
		</div>
		<br />
		<div class="col xl8  offset-xl2">
			<span>Tus datos seran revisados y te será notificado <br />el porcentaje de beca <b>final</b> que has obtenido </span>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col xl3 offset-xl4">
			<a href="#!/solicitudes" >Regresar a solicitudes</a>
		</div>
	</div>	
	<br />
	<div class="row">
		<div class="col xl2 offset-xl4">
			<a href="" ng-click="cerrarSesion()">Cerrar Sesion</a>
			<!--<button ng-click="cerrarSesion()">Cerrar Sesion</button>-->
	
		</div>
	</div>	
	
	
	<hr />

	

</div>