

<div class="navbar-fixed">
	<nav class="nav-extended  blue darken-4">
		<div class="nav-wrapper">
	  		<a href="#" class="brand-logo">
	  			<img id="logoCabecera" src="img/logo.png" />
	  			Sistema de Becas NU
	  		</a>

		</div>
	</nav>
</div>

<div class="container">


	<br />
	<br />
	<br />
	<br />
	<div class="col xl12 l12 m12 s12 card ">
			<div class="row"></div>
			<div class="col xl4 l8 m8  center-align">
				<b>! Tu solicitud de beca a sido enviada !</b>
			</div>
			<br />
			<div class="col xl8 l8 m8 center-align">
				<span>Tus datos seran revisados y te será notificado <br />el porcentaje de beca <b>final</b> que has obtenido </span>
			</div>
		
		<br />
		<br />
		<!--<div class="row">
			<div class="col xl3 l4 m4 offset-xl4 offset-l4 offset-m4">
				<a href="#!/solicitudes" >Regresar a solicitudes</a>
			</div>
		</div>	
		<br />
		<div class="row">
			<div class="col xl2 l2 m2 offset-xl4 offset-l4 offset-m4">
				<a href="" ng-click="cerrarSesion()">Cerrar Sesion</a>
				
		
			</div>
		</div>	-->
        <div class="row">
                <div class="col xl6 l4 m4  offset-xl3">       
	                <a class="btn btn-default orange right" href="#!/solicitudes" >Regresar solicitudes</a>
	           
	                <button class="btn btn-default orange" ng-click="cerrarSesion()">Cerrar Sesión</button>
           		</div>
        </div>
        <br />
	
	

	</div>
	

	

</div>
<footer-becas></footer-becas>