<div class="container">
		<h1>Sistema de Asignación de Becas NU</h1>
		<div class="row">
			<div class="col xl10 l10 m10">
				<h4>Detalle solicitud</h4>
			</div>
			<div class="col xl2 l12 m12">
				<a href="#" ng-click="$ctrl.closeApp()">Cerrar Sesión</a>
				<a href="#!/admin_principal">Regresar</a>
			</div>
		</div>
		<div class="row">
			<div class="col xl4 l4 m4">
				<p><b>MATRÍCULA:</b> {{$ctrl.matricula}}</p>				
			</div>
			<div class="col xl4 l4 m4">
				<p><b>Carrera:</b> {{$ctrl.carrera}}</p>				
			</div>
			<div class="col xl4 l4 m4">
				<p><b>Fecha:</b> {{$ctrl.fecha_envio}}</p>				
			</div>
		</div>
		<div class="row">
			<div class="col xl4 l4 m4">
				<p><b>Nombre:</b> {{$ctrl.nombre}} {{$ctrl.apellido1}} {{$ctrl.apellido2}}</p>				
			</div>
			<div class="col xl4 l4 m4">
				<p><b>Semestre:</b> {{$ctrl.semestre}}</p>				
			</div>
		</div>
		<form ng-submit="$ctrl.saveData()">
			<div class="row">
				<div class="col xl4 l4 m6 offset-xl4 offset-l4 offset-m3">
					<h6><i>Porcentaje sugerido para esta beca: </i>{{$ctrl.porcentaje_sugerido}}</h6>
				</div>			
			</div>
			<div class="row">
				<div class="col xl8 l8 m10 offset-xl2 offset-l2 offset-m1">
					<p><b>Actividades complementarias: </b></p>

					<input type="checkbox" ng-model="$ctrl.biblioteca_completa" id="biblioteca" ng-change="$ctrl.bibliotecaCambio()" ng-disabled="$ctrl.caso_especial">
					<label for="biblioteca">El alumno cumplio con el 85% de sus actividades complementarias</label>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col xl8 l8 m10 offset-xl2 offset-l2 offset-m1">
					<p><b>Examenes extraordinarios: </b></p>
					<div>
						<input type="checkbox" ng-model="$ctrl.libre_de_extra" id="libre_de_extra" ng-change="$ctrl.extraCambio()" ng-disabled="$ctrl.caso_especial">
						<label for="libre_de_extra">El alumno adeuda después de exámenes extraordinario 1, 3 asignaturas de un semestre en el que curse o recurse 5 o más. </label>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col xl8 l8 m10 offset-xl2 offset-l2 offset-m1">
					<p><b>Criterio del evaluador: </b></p>
					<div>
						<input type="checkbox" ng-model="$ctrl.caso_especial" id="criterio">
						<label for="criterio">Existe un criterio especial para designar el procentaje de beca</label>
					</div>
				</div>
			</div>
			<div class="row" ng-show="!$ctrl.caso_especial">
				<div class="col xl8 l8 m10 offset-xl3 offset-l3 offset-m2">
					<h6><strong>Porcentaje final asignado: </strong>{{$ctrl.porcentaje_final}}</h6>
				</div>			
			</div>
			<div class="row" ng-show="$ctrl.caso_especial">
				<div class="col xl8 l8 m10 offset-xl3 offset-l3 offset-m2">
					<p>
				    	<input name="porcentaje" type="radio" id="bc1" ng-model="$ctrl.porcentaje_final" value="0" />
				    	<label for="bc1">0</label>
				    </p>
				    <p>
				    	<input name="porcentaje" type="radio" id="bc2" ng-model="$ctrl.porcentaje_final" value="25" />
				    	<label for="bc2">25</label>
				    </p>
				    <p>
				    	<input name="porcentaje" type="radio" id="bc3" ng-model="$ctrl.porcentaje_final" value="50" />
				    	<label for="bc3">50</label>
				    </p>
				    <p>
				    	<input name="porcentaje" type="radio" id="bc4" ng-model="$ctrl.porcentaje_final" value="75" />
				    	<label for="bc4">75</label>
				    </p>
				    <p>
				    	<input name="porcentaje" type="radio" id="bc5" ng-model="$ctrl.porcentaje_final" value="100" />
				    	<label for="bc5">100</label>
				    </p>
				   <!--
					<label for="porcentaje_final">Ingrese el porcentaje final.</label><br>
					<input type="radio" name="procentaje" ng-model="$ctrl.porcentaje_final" value="0">0<br>
					<input type="radio" name="porcentaje" ng-model="$ctrl.porcentaje_final" value="25">25<br>
					<input type="radio" name="porcentaje" ng-model="$ctrl.porcentaje_final" value="50">50<br>
					<input type="radio" name="procentaje" ng-model="$ctrl.porcentaje_final" value="75">75<br>
					<input type="radio" name="porcentaje" ng-model="$ctrl.porcentaje_final" value="100">100<br> -->
				</div>			
			</div>
			<br>
			
			<a data-target="modalDatosGuardados" class="waves-effect waves-light" ng-show="false" id="clicModel">hadsh</a>
			<div id="modalDatosGuardados" class="modal">
				<div class="modal-content">
					<h2>Datos Guardados</h2>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data ng-click="$ctrl.mandar()">Aceptar</a>	
				</div>
			</div>

			<div class="row">
				<div class="col xl8 l8 m10 offset-xl2 offset-l2 offset-m1">
					<a href="#!/admin_principal"><button class="btn btn-default">Volver</button></a>
					<input type="submit" class="btn btn-default" value="Guardar" />
				</div>
			</div>
		</form>			
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.modal').modal();
	});
</script>