<!-- <img ng-src="{{$ctrl.phone.images[0]}}" class="phone" /> -->
<img ng-src="{{$ctrl.mainImageUrl}}" class="phone">
<!-- <div class="phone-images">
  <img ng-src="{{img}}" class="phone"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.phone.images" />
</div> -->

<h1>{{$ctrl.phone.name}}</h1>

<p>{{$ctrl.phone.description}}</p>


<ul class="phone-thumbs">
	<li ng-repeat="img in $ctrl.phone.images">
		<!-- <img ng-src="{{img}	}" /> -->
		<img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
		<!--
		12. Experimento (Doble click)
		<img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" ng-dblclick="$ctrl.onDblclick(img)" /> -->
	</li>
</ul>

<ul class="specs">
	<li>
		<span>Availability and Networks</span>
		<dl>
			<dt>Availability</dt>
			<dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
		</dl>
	</li>
	<li>
		<span><b>Display</b></span>
		<dl>
			<dt>Touch Screen</dt>
			<dd >{{$ctrl.phone.display.touchScreen | checkmark}} <!-- con "  | checkmark" aplicamos nuestro filto checkmark creado en 'core/checkmark/'--></dd>
		</dl>
	</li>
	

	...
	<li>
		<span>Additional Features</span>
		<dd>{{$ctrl.phone.additionalFeatures}}</dd>
	</li>

</ul>